{
    "admin_api": "is_admin:True",
    "context_is_admin":  "role:admin",
    "admin_or_owner":  "is_admin:True or project_id:%(project_id)s",
    "default": "rule:admin_api",
    "os_masakari_api:extensions": "rule:admin_api",
    "os_masakari_api:segments": "rule:admin_api",
    "os_masakari_api:os-hosts": "rule:admin_api",
    "os_masakari_api:notifications": "rule:admin_api"
}
